<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="14107fferegrino.MrkViewer" Publisher="CN=8BD20898-9E0A-4C13-AC37-E9D349AF4781" Version="1.1.0.2" />
  <Properties>
    <DisplayName>MrkViewer</DisplayName>
    <PublisherDisplayName>Antonio Feregrino</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MrkViewer.Windows8.App">
      <m2:VisualElements DisplayName="MrkViewer" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="MrkViewer is a simple Markdown viewer that implements the CommonMark specification." ForegroundText="dark" BackgroundColor="#ffffff">
        <m2:DefaultTile DefaultSize="square150x150Logo" ShortName="MrkViewer">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ffffff" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation" EntryPoint="MrkViewer.Windows8.App">
          <FileTypeAssociation Name="md" m2:DesiredView="useHalf">
            <DisplayName>markdown</DisplayName>
            <SupportedFileTypes>
              <FileType>.md</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>